<%- include('partials/header') -%>

      <h1>
            <%= requiredPostTitle %>
      </h1>
      <p>
            <%= requiredPostBody %>
      </p>

<%- include('partials/footer') -%>      